﻿@model Ex4.Models.User

@{
    ViewBag.Title = "Creat";
    Layout = "_Layout";
}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div style="width :500px;margin-left : 100px;">
    <h2>Create</h2>
    <form for-action="Create" method="post">
        <div class="form-group">
            <label class=" col-sm-2" asp-for="Username"></label>
            <div class="col-sm-10">
                <input asp-for="Username" class="form-control" >
            </div>
        </div><br/><br/><br/>
        <div class="form-group">
            <label class=" col-sm-2" asp-for="Password"></label>
            <div class="col-sm-10"> 
                <input asp-for="Password" class="form-control">
            </div>
        </div><br/><br/>

        <div class="form-group"> 
            <div class=" col-sm-10">
                <button type="submit" class="btn btn-primary" value="Create">Create</button>
                <a class="btn btn-primary" asp-action="Index">Cancel </a>
            </div>
        </div>
    </form>
</div>

</body>