﻿@model Ex4.Models.User

@*
@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}*@

@*<h2>Delete</h2>*@

@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>*@

<h3>Are you sure you want to delete me ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-primary" />
        <a class="btn btn-primary" asp-action="Index">Back to List</a> 
        <a class="btn btn-primary" asp-action="Index">Cancel </a>
    </form>
</div>