﻿@model IEnumerable<Ex4.Models.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fuld">
    <div class="alert" align="center" >
            <h2><span><img src="~/img/—Pngtree—list icon_17273.png" alt="Create" height="32" width="32"></span>  List </h2>
    </div>
 <table class="table table-bordered table-sm">
        <thead align="center">
        <tr class="table-primary">
            <th>
                ID
            </th>
            <th>
               Username
            </th>
            <th>
               Password
            </th>  
            <th>
                Option
            </th>  
        </tr>
        </thead>
        <tbody>
        <a class="btn" style="color: black" asp-action="Create">
            <p><span><img src="~/img/icons8-create-64.png" alt="Create" height="32" width="32"></span>  Create new user </p>
        </a>

        @foreach(var item in Model)
        {
            <tr align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                     <!-- Button trigger modal -->
                    @*<button type="button" class="btn" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("EditPassword", new { id = item.UserId})">
                        <img src="~/img/uppassword.png" alt="Smiley face" height="32" width="32">
                    </button>
                    |*@
                    
                    <a class="btn" style="color: black" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a>| 
                    @*<a class="btn" style="color: black" $1$onclick="return confirm('@Localizer.GetLocalizedString("btn_AreYouSureYouWantToDeleteIt?")')"#1# asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/img/iconfinder_basket_1814090.png" alt="Delete" height="32" width="32">
                    </a>*@
                    <a onclick="return confirm('Are you sure to delete ?')" style="color: black" asp-action="Delete" asp-route-Id="@item.Id"><li class="fa fa-trash"></li> </a>
                </td>
            </tr>

        }
        </tbody>
    </table>
</div>
